.Loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 14px solid var(--color-22);
  border-radius: 50%;
  border-top: 14px solid var(--color-21);
  width: 80px;
  height: 80px;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
