.form {
  display: flex;
  gap: 20px;
}

:global(.MuiAutocomplete-paper) {
  background-color: #121212;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.12),
    rgba(255, 255, 255, 0.12)
  ) !important;
}
