.Navigation {
  position: sticky;
  top: 0;
  padding: 12px 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: linear-gradient(90deg, var(--color-24), var(--color-25));
  backdrop-filter: blur(8px);
  z-index: 1;
}

.Navigation a {
  text-decoration: none;
}

@media (max-width: 580px) {
  .button p {
    display: none;
  }

  .button :global(.MuiButton-startIcon) {
    margin: 0;
  }
}
