.Navigation {
  position: sticky;
  top: 0;
  padding: 0 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, var(--color-24), var(--color-25));
  backdrop-filter: blur(8px);
  z-index: 1;
}

.Navigation a {
  min-height: auto;
}

.Navigation svg {
  font-size: 20px;
}

:global(.MuiTabs-scroller) {
  display: flex !important;
}
