.KeyGiverItem {
  padding: 5px 13px;
  min-height: 60px;
  display: grid;
  grid-template-columns: 55% calc(15% - 12px) 30%;
  column-gap: 6px;
  align-items: center;
  /* border-radius: var(--border-radius-normal); */
  /* border-radius: 40px; */
  transition: color 0.2s ease;
}

.KeyGiverItem p {
  /* padding: 0 14px; */
  /* border: 1px solid red; */
}

.KeyGiverItem:nth-child(odd) {
  background-color: #fff1;
}

.KeyGiverItem svg {
  transition: color 0.2s ease;
}

.KeyGiverItem:hover,
.KeyGiverItem:hover svg {
  /* color: var(--color-20); */
}
