<!-- width: 100%, max-width: from props -->
<div class="tableContainer">
  <!-- sticky value from prop -->
  <header>
    <div class="headerWrapper">
      <h2>table title</h2>
      <div class="filter"></div>
    </div>
    <div class="scroll">
      <div class="scrollContent"></div>
    </div>
  </header>
  <!-- container for getting scroll, width: 100% -->
  <div class="tableWrapper">
    <table>
      <!-- sticky -->
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
