.Table {
  width: 100%;
  border-spacing: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

.alignRight {
  justify-content: flex-end;
  text-align: right;
}

.alignCenter {
  justify-content: center;
  text-align: center;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.Table thead {
  top: 50px;
  position: sticky;
  user-select: none;
  background-color: var(--color-2);
  /* backdrop-filter: blur(9px); */
  box-shadow: 0px 1px 0px var(--color-21);
}

.Table thead tr:first-child {
  /* box-shadow: 0px 1px 0px var(--color-21); */
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
}

.Table .title {
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: var(--color-10);
}

.Table th,
.Table td {
  font-weight: inherit;
  padding: 15px;
}

.Table th span {
  padding: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.spanLeft {
  order: -1;
}

.Table thead th p {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.Table th svg {
  font-size: 1rem;
  opacity: 0.7;
}

.Table .inactiveSortIcon {
  opacity: 0.3;
}

.bodyTr {
}

.evenBodyTr {
  background-color: #ffffff0c;
}

.Table tbody tr:hover {
  background-color: #ffffff32;
}

.row {
  /* cursor: pointer; */
}

.cursorPointer {
  cursor: pointer;
}

.expandableRowTr > td {
  padding: 0;
  border-bottom: 1px solid var(--color-10);
}

.expandableRowContentWrapper {
  height: auto;
  overflow: hidden;
  transition: all 0.3s ease;
}

.expandableRowContent {
  padding: 15px;
}
