*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #0a0a0a;
  --color-2: #1c1c1c;
  --color-3: #444;

  --color-10: #ccc;

  --color-20: #d32f2f;
  --color-21: #6666ff;
  --color-22: #1b1b64;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(115deg, var(--color-22), var(--color-1));
}

h2 {
  font-size: 1.3em;
}
