.EnemyItem {
  padding: 0 13px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-normal);
  border-radius: 20px;
  transition: color 0.2s ease;
}

.EnemyItem:nth-child(odd) {
  background-color: #fff1;
}

.EnemyItem svg {
  transition: color 0.2s ease;
}

.EnemyItem:hover,
.EnemyItem:hover svg {
  color: var(--color-20);
}
